# Environnement virtuel
BJB/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/

# Base de données
*.sqlite3

# Fichiers sensibles
.env
.env.prod
local_settings.py

# Logs
*.log

# IDE
.vscode/
.idea/
.DS_Store
*.swp

# Fichiers temporaires
*.tmp
*.bak